.DS_Store
*/.DS_Store
*/*/.DS_Store
*.DS_Store?
*/.snakemake/*
*/*/.snakemake/*
*/*/.snakemake/*/*
*/*/.snakemake/*/*/*
*.ipynb_checkpoints
*/*/.Rhistory

simulations/results/remaster/*.trees
simulations/results/remaster/*.traj
simulations/results/remaster/*.nexus
simulations/results/*-delim.*


